{# Alt Text Toggle Field Template #}
<label> <input
      type="hidden"
      name="{{ option_name }}[set_alt_text]"
      value="0"/><input
            type="checkbox"
            id="viscribe_set_alt_text"
            name="{{ option_name }}[set_alt_text]"
            value="1" {{ set_alt ? 'checked' : '' }}/>
    {% trans %}Automatically set images' "alt" attribute from the filename.{% endtrans %}
</label>
