{# Enabled Toggle Field Template #}
<label> <input
      type="hidden"
      name="{{ option_name }}[enabled]"
      value="0"/><input
            type="checkbox"
            id="viscribe_enabled"
            name="{{ option_name }}[enabled]"
            value="1" {{ enabled ? 'checked' : '' }}/>
    {% trans %}Automatically rename images on upload{% endtrans %}
</label>
