{# Max Keywords Field Template #}
<label for="viscribe_max_keywords" class="screen-reader-text">
    {% trans %}Maximum Keywords{% endtrans %}
</label>
<select name="{{ option_name }}[max_keywords]" id="viscribe_max_keywords">
    {% for i in 1..10 %}
        <option value="{{ i }}" {{ max_keywords == i ? 'selected' : '' }}>
            {{ i }}
        </option>
    {% endfor %}
</select>
<p class="description">
    {% trans %}Maximum number of keywords to generate for filenames.{% endtrans %}
</p>
