<p class="no-ai">{% trans %}Need help? Start with the <a
            href="http://docs.kolja-nolte.com/viscribe" target="_blank">documentation</a> or the
        <a href="https://wordpress.org/support/plugin/secondary-title/reviews/">WordPress.org support forum</a>.{% endtrans %}
</p>
