<p class="no-ai">{% trans %}Need help? Start with the <a
			href="https://docs.kolja-nolte.com/viscribe-wordpress-plugin" target="_blank">documentation</a> or the
		<a href="https://wordpress.org/support/plugin/viscribe/">WordPress.org support forum</a>.{% endtrans %}
</p>
